
$primary-color: #343a40;
$secondary-color: #ccc;
$accent-color: #286af0;

$font-path: '../fonts/';
$font-family: 'icomoon';

$icons: (
  'facebook': '\ea90',
  'instagram': '\ea92',
  'twitter': '\ea96',
  'youtube': '\ea9d'
);

